.footer{
    padding-block: 93px 129px;
    background-color: hsla(0, 0%, 97%, 1);
    .footer__box{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .footer__info{
            padding-inline-end: 37px;
            .footer__logo{
                display: block;
                padding-block-end: 20px;
            }
            .footer__text{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: #646464;                
            }
        }
        .footer__nav{
            padding-inline-end: 60px;
            .footer__nav-titel{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 40px;
                color: #212121;        
                padding-block-end: 20px;        
            }
            ul{
                *+*{
                    padding-block-start: 15px;
                }
                .footer__nav-link{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 40px;
                    color: hsla(0, 0%, 39%, 1);
                }
            }
        }
        .footer__soc-list{
            padding-block-start: 20px;
            display: flex;
            gap: 8px;
        }
    }
}