.sing{
    padding-block: 150px;
    .sinf__titel{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 28px;
        letter-spacing: 0.08em;
        color: #212121;        
        text-align: center;
        padding-block-end: 50px;
    }
    .sing__text{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #646464;
    }
}